language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.8-dev" # 3.8 development branch
  - "nightly" # nightly build
before_install:
  - pip install --upgrade pytest
# command to install dependencies
install:
  - "pip install e ."
  - "pip install -r requirements_test.txt"
# command to run tests
script: py.test
